name: CI Test

on:
  pull_request_target:
    types: [opened, edited, reopened]
  push:
    branches:
      - '**'

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'npm'
      - name: Install Dependencies
        run: npm install --legacy-peer-deps
      - name: Test
        run: npm run cov
        env:
          GITHUB_BRANCH: ${{ github.ref }}
